{% extends 'DocumentoBundle:docadministrativo:layout_new.html.twig' %}


{% block tipodocumento %} {{ documento.tipoDocumento | upper }} {% endblock %}


{% set dirigidoA1 %}
   --------- DESTINATARIO:  {{documento.tramite.expediente.agente}} <br>
   --------- DESTINO:  {{documento.tramite.expediente.agente.domicilio}}
{% endset %}


{% set texto1 %}
    <p> ---------  La Dirección Provincial de Reconocimientos Médicos, informa a Usted que deberá presentarse en JUNTA MÉDICA DE MEDICINA LABORAL para su evaluación, munido de la documentación que acredite su estado actual de salud, el día <strong> {{ "now"|date('Y-m-d') }} </strong> a horas <strong> 10:00 </strong>, sito Ayacucho 586 - Capital.- 
    <p>---------  Por motivos que se le daran a conocer oportunamente coforme a lo solicitado en el expediente de referencia.- </p>
{% endset %}

