{% extends 'DocumentoBundle:docadministrativo:layout_show.html.twig' %}
 {% block tipodocumento %}
   <br> <p class="text-center"> <strong> {{ documento.tipoDocumento | upper }}  </strong> </p> <br>
{% endblock %}
