{% extends 'frontend.html.twig' %}

{% block title 'Inicio' %}
{% block body %}
{{ parent() }}

<div class="row"> 

<div class="col-sm-offset-2 col-sm-8">

<div class="alert alert-dismissible alert-info">

  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Información: </strong> En esta página usted podrá consultar el estado de expedientes. Ej. 256-2016
  
</div>
  <p></p>

   <h2> Direccion Provincial Reconocimientos Médicos</h2>

    <p>
La Dirección Provincial de Reconocimientos Médicos es una institución pública, cuya función social es controlar, diagnosticar y determinar la vinculación que hubiere entre la generación de los derechos sociales a favor de los agentes públicos, en función de sus diversos estados de dolencia con la concurrencia a sus lugares de trabajos. 
    </p>






    <h2></h2>
</div>
</div>
{% endblock %}