{% extends 'DocumentoBundle:docmedico:layout_new.html.twig' %}

{% block tipodocumento %} ACTA DE JUNTA MEDICA {% endblock %}
{% block formulario %}
        {{ form_start(form) }}
  
        {{ form_widget(form) }}


         <div class="text-right">
                <input class="btn btn-danger" type="submit" value="Guardar" />
         </div>
    {{ form_end(form) }}
        </div>
</div>


{% endblock %}
