{% extends 'DocumentoBundle:docadministrativo:layout_edit.html.twig' %}

 {% block tipodocumento %}
    <p> <strong> {{ documento.tipoDocumento | upper }}    N°: 0{{ documento.numero }} </strong> </p>
{% endblock %}


