{% extends 'DocumentoBundle:docadministrativo:layout_edit.html.twig' %}
{% block tipodocumento %} {{ documento.tipoDocumento | upper }}  {% endblock %}
	
 {% block dirigidoA %}
     <div class="hidden">
     {{ form_label(edit_form.texto) }}
     {{ form_errors(edit_form.texto) }}
     {{ form_widget(edit_form.dirigidoA, {'label': 'Dirigido A:'}) }}
     </div>
 {% endblock %}