{# app/Resources/views/usuario/registro.html.twig #}

{% extends 'extranet.html.twig' %}

{% block title %} Regístrate gratis como usuario {% endblock %}
{% block body %}

	<h1>{{ block('title') }}</h1>
	{{ form(formulario) }}

{% endblock %}